<div class="container col-md-6 offset-md-3 card" style="padding:0px">
  
  <div class="card-header">
    <h1>Editing Event</h1>
  </div>

  <div class="card-body">
    <%= render 'form', event: @event %>
  </div>

  <div class="card-footer">
    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>
